  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a routerLink="/home"  >Home </a>
		  </li>
		  <li class="nav-item">
			<a routerLink="/cabin">Cabins</a>
		  </li>
		  <li class="nav-item">
			<a routerLink="/house">Houses</a>
		  </li>
		  <li class="nav-item">
			<a routerLink="/ecoactivity">Eco-Activities</a>
		  </li>
		  <li class="nav-item">
			<a routerLink="/contact">Contact & Location</a>
		  </li>
		</ul>
	  </div>
	</nav>