	<div class="row footer">
		<div class="col-12 col-sm-6 col-md-6 footer_logo">			
			<img src ="assets/images/logo.gif">
		</div>
		<div class="col-12 col-sm-6 col-md-6">
			<app-footermodal></app-footermodal>
	
	</div>