

<div class="container-fluid">

     <div class="row" *ngFor="let ecoactivity of ecoactivities">
		<div class="col-12 ">
			<div class="row inner_box">
				<div class="col-4">
					<img src="{{ecoactivity.image}}" alt="ecoactivity.name">
				</div>
				
				<div class="col-8">
					<header><h1>{{ecoactivity.name}}</h1></header>
					<p>{{ecoactivity.description}}</p>
					
					<div class="row">
						<div class="col-6">
							<div class="price_box">
							<p>{{ecoactivity.priceweek}}</p>
							</div>
						</div>
						<div class="col-6">
							<div class="price_box">
							<p>{{ecoactivity.pricemonth}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
  

  
</div>
