
<div class="home_carousel">
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img src="assets/images/vilcabamba-hotel.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h5>Discover the best of Vilcabamba in this small corner of paradise, where the mountains hold a magical mystical quality with their arid ridges and lush ravines, dramatic skies and rich colours and the only sounds are those of nature.</h5>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/vilcabamba-hotel-1.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h5>Whether you are looking for a long term rental while you consider living in Ecuador, want to retire in Vilcabamba, or you are simply seeking a natural retreat where the only sounds are those of nature, our Cabins are a great landing spot.</h5>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/vilcabamba-hotel-2.jpg"  alt="Random third slide">
    <div class="carousel-caption">
      <h5>Set in the midst of a typical andean rural community, offering a unique cultural experience and the opportunity to enjoy the local color of country life, while hiking best trails around Vilcabamba.</h5>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/vilcabamba-hotel-3.jpg" alt="Random fourth slide">
    <div class="carousel-caption">
      <h5>Discover the best of Vilcabamba in this small corner of paradise, where the mountains hold a magical mystical quality with their arid ridges and lush ravines, dramatic skies and rich colours; filled with the sounds of nature and the rushing river.</h5>
    </div>
  </ng-template>
</ngb-carousel>

</div>