

<div class="container-fluid">

     <div class="row" *ngFor="let cabin of cabins">
	 <a routerLink="/cabindetail/{{cabin.id}}">
		<div class="col-12 ">
			<div class="row inner_box">
				<div class="col-4">
					<img src="{{cabin.image}}" alt="cabin.name">
				</div>
				
				<div class="col-8">
					<header><h1>{{cabin.name}}</h1></header>
					<p>{{cabin.description}}</p>
					
					<div class="row">
						<div class="col-6">
							<div class="price_box">
							<p>{{cabin.priceweek}}</p>
							</div>
						</div>
						<div class="col-6">
							<div class="price_box">
							<p>{{cabin.pricemonth}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		</a>
	</div>
  

  
</div>
