

<div class="container-fluid">

     <div class="row" *ngFor="let house of houses">
	 <a routerLink="/housedetail/{{house.id}}">
		<div class="col-12 ">
			<div class="row inner_box">
				<div class="col-4">
					<img src="{{house.image}}" alt="house.name">
				</div>
				
				<div class="col-8">
					<header><h1>{{house.name}}</h1></header>
					<p>{{house.description}}</p>
					
					<div class="row">
						<div class="col-6">
							<div class="price_box">
							<p>{{house.priceweek}}</p>
							</div>
						</div>
						<div class="col-6">
							<div class="price_box">
							<p>{{house.pricemonth}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		</a>
	</div>
  

  
</div>