
<div class="container-fluid">


<div *ngIf="house">
<div class="row">
  <div class="col-12 ">
			<div class="row inner_box">
				<div class="col-4">
					<img src="{{house.image}}" alt="house.name">
				</div>
				
				<div class="col-8">
					<header><h1>{{house.name}}</h1></header>
					<p>{{house.description}}</p>
					
					<div class="row">
						<div class="col-6">
							<div class="price_box">
							<p>{{house.priceweek}}</p>
							</div>
						</div>
						<div class="col-6">
							<div class="price_box">
							<p>{{house.pricemonth}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		</div>
<div class="row">
		<div class="col-12 ">
		<p>Comments</p>
            <ul>
                <h3>Comments</h3>
                <li *ngFor="let comment of house.comments">
                    <h3>{{comment.comment}}</h3>
                    <p><small>{{comment.rating}} Stars</small></p>
                    <p><span> -- {{comment.author}} {{comment.date | date}}</span></p>
                </li>
            </ul>

		</div>
		</div>
       

</div>
	
	<div class="row ">		
		<div class="col-12">
		
	<p>Please leave us your comment!</p>
			<form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">					
				
				<div class="form-group">
					<label>Name</label>
					<input formControlName="author" placeholder="Name" type="text" required>
					<div>
						<span [hidden]="!formErrors.author">{{ formErrors.author }}</span>
					</div>
				</div>
				
				<div class="form-group">
					<label>Rating</label>
					<input type="number" formControlName="rating" class="form-control"  />
				</div>
				
				<div class="form-group">
					<label>Comment</label>
					<textarea formControlName="comment" type="text" placeholder="Your Comment" rows="6"></textarea>
				</div>
				
				<div class="form-group">
					  <button type="submit" class="btn btn-primary" >Submit</button>
				</div>
				
			</form>			
								
		</div>
	</div>
	
</div>