<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors }" />
                        <div *ngIf="f.firstName.touched && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors }" />
                        <div *ngIf="f.lastName.touched && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label>Telephone</label>
                        <input type="number" formControlName="tel" class="form-control" [ngClass]="{ 'is-invalid': f.tel.touched && f.tel.errors }" />
                        <div *ngIf="f.tel.touched && f.tel.errors" class="invalid-feedback">
                            <div *ngIf="f.tel.errors.required">Telephone is required</div>
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" />
                        <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
					
					
					<div class="form-group">
					  <label for="message">Message:</label>
					  <textarea formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': f.message.touched && f.message.errors }"  rows="5" id="message"></textarea>
					  
					   <div *ngIf="f.message.touched && f.message.errors" class="invalid-feedback">
                            <div *ngIf="f.message.errors.required">Message is required</div>
                        </div>
					  
					  
					</div>
					
					
					
					
                    <div class="form-group">
                        <button class="btn btn-primary">Send</button>
                    </div>
                </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Contact Us</button>
