
html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}


.container-fluid img
{
	max-width: 100%;
}

.container-fluid a
{
	color: #000;
	text-decoration: none;
}

.navbar a
{
	color: #000;
	padding: 0 7px 0 7px;
}

.index_row
{
	margin-top: 50px;
}

.index_text
{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align:center;
	color: #fff;
}

.home_carousel img{max-width: 100%;}

.footer
{
	margin-top: 25px;
}

.footer_logo
{
	text-align: center;
}

.footer_logo img
{
	width: 200px;
	margin: 0 auto;
}

.box_outer
{
	display: flex;
}

.activities_box 
{
	border: 1px solid #000;
	margin: 25px;
	padding: 15px;
	background: #EAEAEA;
}

.inner_box 
{
	border: 1px solid #000;
	margin: 25px;
	padding: 15px;
	background: #EAEAEA;
}

.inner_box h1
{
	text-align: center;
	background: #85C4F7;
}

.price_box
{
	text-align: center;
	background: rgba(169,212,249,1);
	width: 150px;
	border-radius: 10px;
	margin: 0 auto;
}

.contact_box, .form_box
{
	padding: 20px;
	margin: 20px;
	background: #EAEAEA;
	border-radius: 10px;
	border: 1px solid #000;
	width: 100%;
}