<app-homecarousel></app-homecarousel>

<div class="container-fluid">

	<div class="row">

		<div class="col-12 col-sm-4 col-md-4" *ngFor="let cabin of cabins">  
			<a routerLink="/cabindetail/{{cabin.id}}">
			<div>		
			<img src ="{{cabin.image}}">
			<header><h1>{{cabin.name}}</h1></header>
			</div>
			</a>
		</div>
		
		<div class="col-12 col-sm-4 col-md-4" *ngFor="let house of houses">  
			<a routerLink="/housedetail/{{house.id}}">
			<div>
			<img src ="{{house.image}}">
			<header><h1>{{house.name}}</h1></header>
			</div>
			</a>
		</div>
		
		<div class="col-12 col-sm-4 col-md-4" *ngFor="let ecoactivity of ecoactivities">   
			<a routerLink="/ecoactivity">
			<div>
			<img src ="{{ecoactivity.image}}">
			<header><h1>{{ecoactivity.name}}</h1></header>
			</div>
			</a>
		</div>

	</div>

</div>